{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="auth-form">
        <h1>Inscription</h1>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            <button type="submit">S'inscrire</button>
        {{ form_end(registrationForm) }}
        <p><a href="{{ path('login') }}">Se connecter</a></p>
    </div>
{% endblock %}